<h2 class="heading-two">Placeholder Component</h2>
<hr />
<div class="placeholder-component">
  <div class="square-container">
    <div class="square"></div>
    <div class="square-line-container">
      <span class="line l"></span>
      <span class="line s"></span>
    </div>
  </div>
  <div class="line-container">
    <span class="line xxl"></span>
    <span class="line m"></span>
    <span class="line xl"></span>
    <span class="line l"></span>
    <span class="line s"></span>
  </div>
</div>
